<!doctype html>
<html>
{% include "adoptions/base.html" %}
{% block content %}
<style>
    h1 {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    text-shadow: 3px 3px 5px #0000006e;
    font-family: "Lucida Console", monospace;
    align-content: center;
    font-size: 4vw;
    border-left: 7px solid green;
    background-color: lightgrey;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    }
    .register {
    padding: 5%;
    }
</style>
<body>
<h1>Register</h1>
<div class="register">
    <form method="post">
        {% csrf_token %}
        <div class="register-class" >
            <p><strong>First name: </strong></p>
            <p> {{ form.first_name }}</p>
            <p><strong>Last name: </strong></p>
            <p> {{ form.last_name }}</p>
            <p><strong>Username: </strong></p>
            <p> {{ form.username }}</p>
            <p><strong>Email: </strong></p>
            <p> {{ form.email }}</p>
            <p><strong>Password: </strong> </p>
            <p>{{ form.password1 }}</p>
            <p><strong>Confirm password: </strong> </p>
            <p>{{ form.password2 }}</p>
        </div>
    <input type="submit" value="Register">
</form>
<br>
<a href="{% url 'adoptions:index' %}">Back to home page</a>
{% endblock %}
</div>

</body>
{% include "adoptions/footer.html" %}
</html>